body {
    background-color: rgb(54, 51, 51);
}


.color-grid {
    display: grid;
    height: 555px;
    width: 771px;
    grid-template-columns: 251px 117px 282px;
    grid-template-rows:1.8fr 1.1fr 1.1fr;
    gap: 1rem;
    justify-content:center;
    padding-top: 100px;
    padding-left: 25%;    
}

.grid1 {
    background-color: red;
    grid-column:span 2;
   
}
.grid2 {
    background-color:orange;
    grid-column-start: 3/4;
}
.grid3 {
    background-color:  green;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: span 1;
}
.grid4 {
    background-color: aqua;
    grid-row-start: 2;
    grid-column: span 2/4;
}
.grid5 {
    background-color: aqua;
    grid-row-start: 3;
    grid-column: span 2/4;
}